
  <fieldset>
    <div class="row mobilerow">
      <div class="col-xs-12 serchmobile" >
<%= f.text_field :name_or_description_cont, class: "form-control", placeholder: "Key word" %>      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="row mobilerow forflexcenter">
      <div class="col-xs-6 mobilecol">
        <%= f.select :city_eq, Property.distinct.pluck(:city).compact, { include_blank: "City" }, class: "selectpicker" %>

        <%# <%= f.select :city,
            Property.distinct.pluck(:city).compact,
            { include_blank: "Select Your City" },
            class: "selectpicker",
            data: {
            live_search: "true",
            live_search_style: "begins"
            } %> 
      </div>
      <div class="col-xs-6 mobilecol">
        <%= f.select :status_eq, Property.distinct.pluck(:status).compact, { include_blank: "Status" }, class: "selectpicker show-tick form-control" %>

        <%# <%= f.select :status,
            Property.distinct.pluck(:status).compact,
            { include_blank: "-Status-" },
            class: "selectpicker show-tick form-control" %> 
      </div>
    </div>
  </fieldset>

  <fieldset class="padding-5">
    <div class="row mobilerow forflexcenter">
      <div class="col-xs-6 mobilecol">
        <label for="price-range" >Price range ($):</label>
        <%= f.text_field :price_gteq, id: "price-range",class: "span2",value: "",
            data: {
            slider_min: "10000",
            slider_max: "1000000",
            slider_step: "5",
            slider_value: "[0,450]"
            } %> 
        <%# <%= f.text_field :price,
            class: "span2",
            value: "",
            data: {
            slider_min: "10000",
            slider_max: "1000000",
            slider_step: "5",
            slider_value: "[0,450]"
            },
            id: "price-range" %> 
        <br />
        <b class="pull-left color">2000$</b>
        <b class="pull-right color">100000$</b>
      </div>
      <div class="col-xs-6 mobilecol" >
        <label  for="property-geo" >Property area (sq) :</label>
        
        <%= f.text_field :area_gteq,
            class: "span2",
            value: "",
            data: {
            slider_min: "100",
            slider_max: "60000",
            slider_step: "5",
            slider_value: "[50,450]"
            },
            id: "property-geo" %>
        <br />
        <b class="pull-left color">40 m</b>
        <b class="pull-right color">12000m</b>
      </div>
    </div>
  </fieldset>

  <fieldset class="padding-5">
    <div class="row mobilerow forflexcenter">
      <div class="col-xs-6 mobilecol" >



        <label for="min-baths" >Min baths :</label>
        <%= f.number_field :bedroom_gteq,
            class: "span2",
            value: "",
            data: {
            slider_min: "0",
            slider_max: "600",
            slider_step: "5",
            slider_value: "[250,450]"
            },
            id: "min-baths" %>
        <br />
        <b class="pull-left color">1</b>
        <b class="pull-right color">120</b>
      </div>

      <div class="col-xs-6 mobilecol">
        <label for="min-bed" >Min bed :</label>
        <%= f.number_field :bedroom_gteq,
            class: "span2",
            value: "",
            data: {
            slider_min: "0",
            slider_max: "600",
            slider_step: "5",
            slider_value: "[250,450]"
            },
            id: "min-bed" %>
        <br />
        <b class="pull-left color">1</b>
        <b class="pull-right color">120</b>
      </div>
    </div>
  </fieldset>

  <fieldset class="padding-5">
    <div class="row mobilerow">
      <div class="col-xs-6 " >
        <div class="checkbox" >
          <label class="lb">
            <%= f.check_box :fireplace_true, { include_hidden: false }, checked: true %>
              Fire Place
          </label>
        </div>
      </div>

      <div class="col-xs-6 ">
        <div class="checkbox">
          <label class="lb">
            <%= f.check_box :dualsinks_true, { include_hidden: false } %>
              Dual Sinks
          </label>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="padding-5">
    <div class="row mobilerow">
      <div class="col-xs-6">
        <div class="checkbox">
          <label class="lb">
            <%= f.check_box :swimmingpool_true, { include_hidden: false }, checked: true %>
              Swimming Pool
          </label>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="checkbox">
          <label class="lb">
            <%= f.check_box :twostories_true, { include_hidden: false }, checked: true %>
              2 Stories
          </label>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="padding-5">
    <div class="row mobilerow">
      <div class="col-xs-6">
        <div class="checkbox">
          <label class="lb">
            <%= f.check_box :laundryroom_true, { include_hidden: false } %>
              Laundry Room
          </label>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="checkbox">
          <label class="lb">
            <%= f.check_box :emergencyexit_true, { include_hidden: false } %>
              Emergency Exit
          </label>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="padding-5">
    <div class="row mobilerow">
      <div class="col-xs-6">
        <div class="checkbox">
          <label class="lb">
            <%= f.check_box :jogpath_true, { include_hidden: false }, checked: true %>
              Jog Path
          </label>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="checkbox">
          <label class="lb">
            <%= f.check_box :ceilings_true, { include_hidden: false } %>
              26' Ceilings
          </label>
        </div>
      </div>
    </div>
  </fieldset>

  

  <fieldset>
    <div class="row mobilerow">
      <div class="col-xs-12 ">
        <%= f.submit "Search", class: "button btn largesearch-btn" %>
      </div>
    </div>
  </fieldset>

