<div class="page-head">
  <div class="container">
    <div class="row mobilerow">
      <div class="page-head-content">
        <h1 class="page-title">List Layout With Sidebar</h1>
      </div>
    </div>
  </div>
</div>

<div class="properties-area recent-property" style="background-color:#FFF;">
  <div class="container">
    <div class="row mobilerow">

      <div class="col-md-3 p0 padding-top-40 psett">
        <div class="panel panel-default sidebar-menu">
          <div class="panel-heading forflexcenter">            <h3 class="panel-title r">Smart search</h3>
          </div>
          <div class="panel-body search-widget">

            <%# <%= form_with url: properties_path, method: :get, html: { class: "form-inline" }, remote: true do |f| %> 
              <%# <%= render partial: "sidebar", locals: { f: f } %> 
            <%# <% end %> 
            <%= search_form_for @q, url: properties_path, method: :get, remote: true do |f| %>
              <%= render partial: "sidebar", locals: { f: f } %>
            <% end %>
          </div>
        </div>

        <!-- Recommended -->
        <div class="panel panel-default sidebar-menu">
          <div class="panel-heading forflexcenter">
            <h3 class="panel-title">Recommended</h3>
          </div>
          <div class="panel-body recent-property-widget forflexcenter">
            <ul>
              <% @recommended_properties.each do |property| %>
                <li>
                  <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0 psett">
                    <%= link_to property_path(property) do %>
                      <% if property.images.attached? && property.images.first.variable? %>
                        <%= image_tag property.images.first.variant(resize_to_fill: [80, 80]).processed %>
                      <% else %>
                        <%= image_tag "default-property", size: "80x80", alt: "No image" %>
                      <% end %>
                    <% end %>

                    <span class="property-seeker">
                      <b class="b-1">A</b>
                      <b class="b-2">S</b>
                    </span>
                  </div>

                  <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                    <h6>
                      <%= link_to property.name, property_path(property) %>
                    </h6>
                    <span class="property-price">
                      <%= number_to_currency(property.price) %>
                    </span>
                  </div>
                </li>
              <% end %>
            </ul>

          </div>
        </div>
      </div>
      <div class="col-md-9 padding-top-40 properties-page">
        <div class="row mobilerow" id="list-type">

          <%= render partial: "properties/properties_list", locals: { properties: @properties } %>

        </div>

        <div class="row">
          <div class="pull-right">
            <div class="pagination">
              <ul>
                <%= render partial: "properties/pagination", locals: { collection: @properties } %>
                <%# <%= will_paginate @properties, class: "pagination" %>
                <%# <%= will_paginate @properties, params: request.query_parameters %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>