<div class="page-head">
  <div class="container">
    <div class="row mobilerow">
      <div class="page-head-content">
        <h1 class="page-title">List Layout With Sidebar</h1>
      </div>
    </div>
  </div>
</div>

<div class="properties-area recent-property" style="background-color:#FFF;">
  <div class="container">
    <div class="row mobilerow">

      <div class="col-md-3 p0 padding-top-40 psett">
        <div class="panel panel-default sidebar-menu">
          <div class="panel-heading forflexcenter">
            <div class="panel-heading">
              <h3 class="panel-title r">Smart search</h3>
            </div>
          </div>
          <div class="panel-body search-widget">

            <%= form_with url: properties_path, method: :get, html: { class: "form-inline" }, remote: true do |f| %>

              <fieldset>
                <div class="row mobilerow">
                  <div class="col-xs-12 serchmobile">
                    <%= f.text_field :keyword, class: "form-control", placeholder: "Key word" %>
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <div class="row mobilerow forflexcenter">
                  <div class="col-xs-6 mobilecol">
                    <%= f.select :city,
                        Property.distinct.pluck(:city).compact,
                        { include_blank: "Select Your City" },
                        class: "selectpicker",
                        id: "lunchBegins",
                        data: {
                          live_search: "true",
                          live_search_style: "begins"
                        } %>
                  </div>
                  <div class="col-xs-6 mobilecol">
                    <%= f.select :status,
                        Property.distinct.pluck(:status).compact,
                        { include_blank: "-Status-" },
                        class: "selectpicker show-tick form-control",
                        id: "basic" %>
                  </div>
                </div>
              </fieldset>

              <fieldset class="padding-5">
                <div class="row mobilerow forflexcenter">
                  <div class="col-xs-6 mobilecol">
                    <label for="price-range">Price range ($):</label>
                    <%= f.text_field :price,
                        class: "span2",
                        value: "",
                        data: {
                          slider_min: "10000",
                          slider_max: "1000000",
                          slider_step: "5",
                          slider_value: "[0,450]"
                        },
                        id: "price-range" %>
                    <br />
                    <b class="pull-left color">2000$</b>
                    <b class="pull-right color">100000$</b>
                  </div>
                  <div class="col-xs-6 mobilecol">
                    <label for="property-geo">Property area (sq):</label>
                    <%= f.text_field :area,
                        class: "span2",
                        value: "",
                        data: {
                          slider_min: "100",
                          slider_max: "60000",
                          slider_step: "5",
                          slider_value: "[50,450]"
                        },
                        id: "property-geo" %>
                    <br />
                    <b class="pull-left color">40 m</b>
                    <b class="pull-right color">12000m</b>
                  </div>
                </div>
              </fieldset>

              <fieldset class="padding-5">
                <div class="row mobilerow forflexcenter">
                  <div class="col-xs-6 mobilecol">
                    <label for="min-baths">Min baths:</label>
                    <%= f.text_field :min_baths,
                        class: "span2",
                        value: "",
                        data: {
                          slider_min: "0",
                          slider_max: "600",
                          slider_step: "5",
                          slider_value: "[250,450]"
                        },
                        id: "min-baths" %>
                    <br />
                    <b class="pull-left color">1</b>
                    <b class="pull-right color">120</b>
                  </div>

                  <div class="col-xs-6 mobilecol">
                    <label for="min-bed">Min bed:</label>
                    <%= f.text_field :min_bed,
                        class: "span2",
                        value: "",
                        data: {
                          slider_min: "0",
                          slider_max: "600",
                          slider_step: "5",
                          slider_value: "[250,450]"
                        },
                        id: "min-bed" %>
                    <br />
                    <b class="pull-left color">1</b>
                    <b class="pull-right color">120</b>
                  </div>
                </div>
              </fieldset>

              <fieldset class="padding-5">
                <div class="row mobilerow">
                  <div class="col-xs-6">
                    <div class="checkbox">
                      <label>
                        <%= f.check_box :fireplace, checked: true %>
                        Fire Place
                      </label>
                    </div>
                  </div>

                  <div class="col-xs-6">
                    <div class="checkbox">
                      <label>
                        <%= f.check_box :dualsinks %>
                        Dual Sinks
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset class="padding-5">
                <div class="row mobilerow">
                  <div class="col-xs-6">
                    <div class="checkbox">
                      <label>
                        <%= f.check_box :swimmingpool, checked: true %>
                        Swimming Pool
                      </label>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="checkbox">
                      <label>
                        <%= f.check_box :twostories, checked: true %>
                        2 Stories
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset class="padding-5">
                <div class="row mobilerow">
                  <div class="col-xs-6">
                    <div class="checkbox">
                      <label>
                        <%= f.check_box :laundryroom %>
                        Laundry Room
                      </label>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="checkbox">
                      <label>
                        <%= f.check_box :emergencyexit %>
                        Emergency Exit
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset class="padding-5">
                <div class="row mobilerow">
                  <div class="col-xs-6">
                    <div class="checkbox">
                      <label>
                        <%= f.check_box :jogpath, checked: true %>
                        Jog Path
                      </label>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="checkbox">
                      <label>
                        <%= f.check_box :ceilings %>
                        26' Ceilings
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset class="padding-5">
                <div class="row mobilerow">
                  <div class="col-xs-12">
                    <div class="checkbox">
                      <label>
                        <%= f.check_box :hurricane_shutters %>
                        Hurricane Shutters
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <div class="row mobilerow">
                  <div class="col-xs-12">
                    <%= f.submit "Search", class: "button btn largesearch-btn" %>
                  </div>
                </div>
              </fieldset>
            <% end %>

          </div>
        </div>

        <!-- Recommended -->
        <div class="panel panel-default sidebar-menu">
          <div class="panel-heading forflexcenter">
            <h3 class="panel-title">Recommended</h3>
          </div>
          <div class="panel-body recent-property-widget forflexcenter">
            <ul>
              <% @recommended_properties.each do |property| %>
                <li>
                  <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0 psett">
                    <%= link_to property_path(property) do %>
                      <% if property.images.attached? && property.images.first.variable? %>
                        <%= image_tag property.images.first.variant(resize_to_fill: [80, 80]).processed %>
                      <% else %>
                        <%= image_tag "default-property", size: "80x80", alt: "No image" %>
                      <% end %>
                    <% end %>

                    <span class="property-seeker">
                      <b class="b-1">A</b>
                      <b class="b-2">S</b>
                    </span>
                  </div>

                  <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                    <h6>
                      <%= link_to property.name, property_path(property) %>
                    </h6>
                    <span class="property-price">
                      <%= number_to_currency(property.price) %>
                    </span>
                  </div>
                </li>
              <% end %>
            </ul>

          </div>
        </div>
      </div>
      <div class="col-md-9 padding-top-40 properties-page">
        <div class="row mobilerow" id="list-type">
          <div class="col-md-12 clear">
            <div class="col-xs-10 page-subheader sorting pl0">
              <ul class="sort-by-list">
                <li class="active">
                  <%= link_to properties_path(sort: "property_date", order: "ASC"), class: "order_by_date sortdate" do %>
                    Property Date <i class="fa fa-sort-amount-asc"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to properties_path(sort: "property_price", order: "DESC"), class: "order_by_price sortdate" do %>
                    Property Price <i class="fa fa-sort-numeric-desc"></i>
                  <% end %>
                </li>
              </ul>

              <div class="items-per-page">
                <label for="items_per_page" style="color:#777;"><b>Property per page:</b></label>
                <div class="sel">
                  <form method="get" action="<%= properties_path %>" class="items-per-page" style="color:#777;">
                    <select id="items_per_page" name="per_page" onchange="this.form.submit()">
                      <% [3, 6, 9, 12, 15, 30, 45, 60].each do |n| %>
                        <option value="<%= n %>" <%= "selected" if params[:per_page].to_i == n %>>
                          <%= n %>
                        </option>
                      <% end %>
                    </select>
                    <%= hidden_field_tag :sort, params[:sort] %>
                    <%= hidden_field_tag :order, params[:order] %>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-xs-2 layout-switcher">
              <a class="layout-list" href="javascript:void(0);"><i class="fa fa-th-list"></i></a>
              <a class="layout-grid active" href="javascript:void(0);"><i class="fa fa-th"></i></a>
            </div>
          </div>
          <% @properties.each do |property| %>
            <div class="col-sm-6 col-md-4 p0 indprop proerty-th">
              <div class="box-two proerty-item">
                <div class="item-thumb">
                  <%= link_to property_path(property) do %>
                    <% if property.images.attached? %>
                      <%= image_tag property.images.first.variant(resize_to_fill: [360, 240]) %>
                    <% else %>
                      <%= image_tag "property-1/property1.jpg" %>
                    <% end %>
                  <% end %>
                </div>
                <div class="item-entry overflow">
                  <h5><%= link_to property.name, property_path(property) %></h5>
                  <div class="dot-hr"></div>
                  <span class="pull-left"><b>Area:</b> <%= property.area %></span>
                  <span class="proerty-price pull-right">$<%= number_with_delimiter(property.price) %></span>
                  <br />
                  <span class="pull-left">
                    <% property.rating.to_i.times do %>
                      <i class="fa fa-star" style="color: #FDC600 !important;"></i>
                    <% end %>
                  </span>
                  <span class="pull-right" style="color:green;font-weight:500;">
                    <%= number_with_delimiter(property.discounts) %> % off
                  </span>
                  <p style="display: none;"><%= property.description %></p>
                  <div class="property-icon">
                    <img src="<%= asset_path('icon/bed.png') %>"> (<%= property.bedroom %>) |
                    <img src="<%= asset_path('icon/shawer.png') %>"> (<%= property.bathroom %>) |
                    <img src="<%= asset_path('icon/cars.png') %>"> (<%= property.gerage %>)
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

