<nav class="navbar navbar-default">
  <div class="container">

    <!-- Brand and toggle -->
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to image_tag("logo.png", alt: "Logo"),
                  root_path,
                  class: "navbar-brand" %>
    </div>

    <!-- Navigation -->
    <div class="collapse navbar-collapse yamm" id="navigation">

      <!-- Right buttons -->
      <div class="button navbar-right btnlog">
        <% if logged_in? %>
          <div class="logoutbtn">
            <%= button_to "Logout",
                          logout_path,
                          method: :delete,
                          data: { confirm: "Are you sure?" },
                          class: "nav-link navbar-btn nav-button wow bounceInRight login" %>
          </div>

          <%# <button class="navbar-btn nav-button wow fadeInRight"
                  onclick="window.print()"
                  data-wow-delay="0.48s"> Submit
          </button> %>
          <%= link_to "Submit",
                      login_agent_path,
                      class: "navbar-btn nav-button wow fadeInRight" %>
            
        <% else %>
          <%= link_to "Log in",
                      login_path,
                      class: "navbar-btn nav-button wow bounceInRight login" %>

          <%= link_to "Signup",
                      signup_path,
                      class: "navbar-btn nav-button wow fadeInRight" %>
        <% end %>
      </div>

      <!-- Menu -->
      <ul class="main-nav nav navbar-nav navbar-right" id="myDIV">

        <li class="myli <%= 'active' if current_page?(root_path) %>">
          <%= link_to "Home", root_path %>
        </li>

        <li class="myli <%= 'active' if current_page?(properties_path) %>">
          <%= link_to "Properties", properties_path %>
        </li>

        <li class="myli <%= 'active' if current_page?(your_property_index_path) %>">
          <%= link_to "Wishlist", your_property_index_path %>
        </li>

        <!-- Mega dropdown -->
        <li class="dropdown yamm-fw">
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown"
             data-hover="dropdown">
            Template <b class="caret"></b>
          </a>

          <ul class="dropdown-menu">
            <li>
              <div class="yamm-content">
                <div class="row">

                  <div class="col-sm-3">
                    <h5>Home pages</h5>
                    <ul>
                      <li><%= link_to "Home Style 1", root_path %></li>
                      <li><%= link_to "Home Style 2", root_path %></li>
                      <li><%= link_to "Home Style 3", root_path %></li>
                      <li><%= link_to "Home Style 4", root_path %></li>
                      <li><%= link_to "Home Style 5", root_path %></li>
                    </ul>
                  </div>

                  <div class="col-sm-3">
                    <h5>Pages & Blog</h5>
                    <ul>
                      <li><%= link_to "Blog listing", root_path %></li>
                      <li><%= link_to "Blog Post (full)", root_path %></li>
                      <li><%= link_to "Contact", pages_contact_path %></li>
                      <li><%= link_to "FAQ", root_path %></li>
                      <li><%= link_to "404 page", root_path %></li>
                    </ul>
                  </div>

                  <div class="col-sm-3">
                    <h5>Property</h5>
                    <ul>
                      <li><%= link_to "Property Style 1", root_path %></li>
                      <li><%= link_to "Property Style 2", root_path %></li>
                      <li><%= link_to "Property Style 3", root_path %></li>
                    </ul>

                    <h5>Wishlist</h5>
                    <ul>
                      <li><%= link_to "My Wishlist", your_property_index_path %></li>
                    </ul>
                  </div>

                  <div class="col-sm-3">
                    <h5>User account</h5>
                    <ul>
                      <li><%= link_to "Register / Login", login_path %></li>
                      <% if current_user %>
                      <li><%= link_to "Your profile", edit_user_path(current_user.id) %></li>
                      <li><%= link_to "Your order", order_path %></li>
                      
                      <% end %>
                      
                      <li><%= link_to "Submit property", root_path %></li>
                    </ul>
                  </div>

                </div>
              </div>
            </li>
          </ul>
        </li>

        <li class="myli <%= 'active' if current_page?(pages_contact_path) %>">
          <%= link_to "Contact", pages_contact_path %>
        </li>

        <li class="myli <%= 'active' if current_page?(messages_path) %>">
          <%= link_to "Chat", messages_path %>
        </li>

      </ul>
    </div>
  </div>
</nav>
