<div class="header-connect">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-8 col-xs-12">
        <div class="header-half header-call">
          <p style="padding-bottom:0px;">
            <span>
              <i class="pe-7s-call"></i>
                +12345677890
            </span>
            <span>
              <i class="pe-7s-mail"></i>
               <a href="mailto:someone@example.com" style="color:#777;font-weight:300;"> your@company.com 
                </a>
            </span>
          </p>
        </div>
      </div>

      <div class="col-md-2 col-md-offset-5 col-sm-3 col-sm-offset-1 col-xs-12">
        <div class="header-half header-social">
          <ul class="list-inline">            <li>              <%= link_to "#", target: "_blank" do %><i class="fa fa-facebook"></i>              <% end %></li>
            <li>              <%= link_to "#", target: "_blank" do %><i class="fa fa-twitter"></i>              <% end %></li>            <li>              <%= link_to "#", target: "_blank" do %><i class="fa fa-vine"></i>              <% end %></li>            <li>              <%= link_to "#", target: "_blank" do %><i class="fa fa-linkedin"></i>              <% end %></li>            <li>              <%= link_to "#", target: "_blank" do %><i class="fa fa-dribbble"></i>              <% end %></li>            <li>              <%= link_to "#", target: "_blank" do %><i class="fa fa-instagram"></i>              <% end %></li>          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
