<nav class="navbar navbar-default ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            <%= link_to image_tag("logo.png"), root_path, class: "navbar-brand" %>            <%# <a class="navbar-brand" href="index.html"><%= image_tag "logo.png", alt: "Logo" %>        </a>
    </div>

    <div class="collapse navbar-collapse yamm" id="navigation">
        <div class="button navbar-right btnlog">
            <% if logged_in? && current_user.agent? %>
                <div class="logoutbtn">
                    <%= button_to "Logout", logout_path, method: :delete, data: { confirm: "Are you sure?", class: "nav-link navbar-btn nav-button wow bounceInRight login " } %>
                    </div>
                    <%= link_to "Submit", new_property_path, class: "navbar-btn nav-button wow fadeInRight","data-wow-delay": "0.48s" %>
                    <%# <button class="navbar-btn nav-button wow fadeInRight" onclick=" javascript:window.print()" data-wow-delay="0.48s">Submit</button> %>

                <% else %>
                    <%= link_to 'Log in', login_agent_path, class: "navbar-btn nav-button wow bounceInRight login " %>
                    <%= link_to 'signup', signup_agent_path, class: "navbar-btn nav-button wow fadeInRight" %>
                <% end %>
            </div>
            <ul class="main-nav nav navbar-nav navbar-right" id="myDIV">
                <li class="dropdown ymm-sw myli <%= 'active' if current_page?(root_path) %>                " data-wow-delay="0.1s">
                    <%= link_to "Home ", root_path, class: "dropdown-toggle" %>                <%# <b class="caret"></b></a> %>
            </li>
            <li class="wow fadeInDown myli <%= 'active' if current_page?(admin_dashboard_path) %>            " data-wow-delay="0.3s">
                <%= link_to "DashBoard", agent_dashboard_path, class: "nav-link" %>
            </li>
                        
            <li class="wow fadeInDown myli <%= 'active' if current_page?(agent_dashboard_property_list_path) %>            " data-wow-delay="0.3s">
                <%= link_to "MY Properties ", agent_dashboard_property_list_path, class: "nav-link" %>
            </li>
            <li class="wow fadeInDown myli <%= 'active' if current_page?(agent_dashboard_customer_list_path) %>            " data-wow-delay="0.3s">
                <%= link_to "My Customers ", agent_dashboard_customer_list_path, class: "nav-link" %>
            </li>

            <li class="wow fadeInDown myli <%= 'active' if current_page?(new_property_path) %>            " data-wow-delay="0.3s">
                <%= link_to "Add Property ", new_property_path, class: "nav-link" %>
            </li>
            <li class="wow fadeInDown myli <%= 'active' if current_page?(chat_path) %>            " data-wow-delay="0.3s">
                <%= link_to "Messages ", chat_path, class: "nav-link" %>
            </li>
            
        

            
        </ul>
        </div>
        </div>
    </nav>
