<div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title text-center">Agent Property List</h1>               
                    </div>
                </div>
            </div>
        </div>

<div class="container" style="margin-top:50px;">


  
  <table class="table table-bordered table-striped">
    <tr>
      <th>Property Name</th><th>Amount</th><th>Status</th><th>Edit</th><th>Delete</th>
    </tr>
    <% @agentproperty.each do |prop| %>
      <tr>
        <td><%= prop.name %></td>
        <td>₹ <%= prop.price %></td>
        <td><%= prop.status %></td>
        <% if logged_in? && current_user.agent? %>
            <td><%= link_to  edit_property_path(prop) do %> 
            <i class="fa fa-edit" style="font-size:28px;color:#a09a9a;padding-top:5px;"></i>
            <%end%></td>
            <td><%= link_to  property_path(prop),
                        method: :delete,
                        remote:true,
                        data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash-o" style="font-size:28px;color:#a09a9a;padding-top:5px;"></i>           
            <% end %></td>
        
    <%end%>
        
      </tr>
    <% end %>
  </table>

</div>


  