<!DOCTYPE html>
<html>
  <head>
    <title>Bahadur Real Estate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    <%# <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800', rel: 'stylesheet' %>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap-select.min', media: 'all' %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <%# Modernizr loaded via CDN (traditional script tag) to access DOM immediately %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade in container" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>                        
        <%= flash[:notice] %>
      </div>                 
    <% end %>

      <%= yield %>
      <%= render "shared/footer" %>
    </body>
  </html>
